bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# post-build junk
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
libxmr-stak-c.a
